{% extends "style2/base.html" %}

{% block content %}
  <form method="post" action=".">
  <div class="page_nav_bar">
    <input type="submit" value="Submit" />
  </div>
  <h3 id="page_title">
    Change your password
  </h3>
  <hr class="page_separator" />

  {% if form.has_errors %}
    <span class="error">Please correct the errors below:</span>
  {% endif %}
  <table>
      <tr>
          <td><label for="old_password">Old Password:</label>
          </td>
          <td>{{ form.old_password }}
          {% if form.old_password.errors %} 
            <span class="error">{{ form.old_password.errors|join:", " }}
            </span>
          {% endif %}
          </td>
      </tr>
      <tr>
          <td><label for="new_password1">New Password:</label>
          </td>
          <td>{{ form.new_password1 }}
          {% if form.new_password1.errors %} 
            <span class="error">{{ form.new_password1.errors|join:", " }}
            </span>
          {% endif %}
          </td>
      </tr>
      <tr>
          <td><label for="new_password2">Retype Password:</label>
          </td>
          <td>{{ form.new_password2 }}
          {% if form.new_password2.errors %} 
            <span class="error">{{ form.new_password2.errors|join:", " }}
            </span>
          {% endif %}
          </td>
      </tr>
      <tr>
          <td colspan="2" style="text-align: center">
          </td>
      </tr>
  </table>
  </form>
{% endblock %}


