
body {
  text-align: center;
}

#logo-image {
  margin-top: 64px;
}

#login-box {
  padding: 16px;
}

#login-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

#title-header {
  font-size: 18pt;
  padding: 16px;
  text-align: center;
}
